@import 'main';
%automargin {
    margin-left: auto;
    margin-right:auto;
}
@media screen and (max-width:375px){
    .header {
        background-size: cover;  
        background-position: center;
        .logo_navbar{
            .logo{
                h2{
                    margin-left: 20px;
                }
            }
            .nav{
                .links{
                    position: absolute;
                    width:100%;
                    height: 90vh;
                    right: -100%;
                    margin: 0;
                    display: block;
                    flex-direction: column;
                    margin-top: 24px;
                    background-color: $third-color;
                    transition: all 0.5s cubic-bezier(.12,.7,1,.56);
                    z-index: 99;
                    li{
                        width: fit-content;
                        margin: 30px;
                        margin-left: auto;
                        margin-right: auto;
                        a{
                            text-decoration: none;
                            color:$second-color;
                        }
                    }
                }
                .show{
                    right: 0;
                    display: block;
                }
            }
            
            #hamburger{
                display: flex;
                width: 50px;
                cursor: pointer;
                position: absolute;
                /* top: 15px ; */
                right: 15px;
                color: $second-color;
                img{
                    width: 40px;
                }
            }
        }
        
        .main{
            height: 100vh;
            display: flex;
           flex-direction: column;
           .text_main{
                margin-top: 50px;
                height: 40vh;
                width: 90vw;
             h1{
                text-align: center;
                margin-left: 0px;
                margin-bottom: 0;
                font-size: 24px;
                }
                p{
                    margin-bottom: 5px;
                }
            }
            img{
                margin-top: 50px;
                width: 80vw;
                margin-right:0;
            }
            &::after{
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
        
    }









    
   
  
    
    
   
   
   
    
    
   
   
    
    
   
   
  
    .text_main>p{
        margin-bottom: 5px;
    }
}