@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins&display=swap');
:root {
  --primaryfont: "Oleo Script Swash Caps", cursive;
  --secondfont: "Poppins", sans-serif;
  --primarycolor: #326adb;
  --secondcolor:#F0F2F5;
  --thirdcolor: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secondfont);
}
.form{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    width: 80%;
    background-color: #ffff;
}
.form h3{
    text-align: center;
    font-size: 2rem;
    font-family: var(--primaryfont);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--secondcolor);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  /* resize: vertical; */
  border: none;
  border-bottom: 2px solid var(--primarycolor);
}

input[type=submit] {
  background-color: var(--primarycolor);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}