@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins&display=swap');
:root {
  --primaryfont: "Oleo Script Swash Caps", cursive;
  --secondfont: "Poppins", sans-serif;
  --primarycolor: #326adb;
  --secondcolor:#F0F2F5;
  --thirdcolor: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secondfont);
}
body{
    background-color:var(--secondcolor);
}
.header{
    height: 100vh;
    background-image: url("./images/fotomain.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.logo_navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3032359e;
}
.nav>ul{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin-right: 20px;
}
.logo>h2{
    font-family: var(--primaryfont);
    margin-left: 100px;
    color: var(--secondcolor);
}
.logo code{
    color: var(--primarycolor);
}
.logo>img {
    width: 200px;height: 100px;
    margin-left: 50px;
}
.nav ul li{
    list-style-type: none;
   
    border: 2px solid transparent;
}
.nav ul li:hover{
    border-bottom:2px solid var(--primarycolor);
    transition: 0.2s;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
}

.div3{
    display: none;
}
.section1{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
   justify-content: center;
}
.section1 .title_services{
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-family:var(--primaryfont);
}
.service{
    width: 250px;
    margin: 15px auto 15px auto;
    border: 1px solid rgba(182, 185, 189, 0.3);
}
.service>img{
    width: 100%;
    height: 170px;
    object-fit: contain;
    margin-bottom: 15px;
}
.service>h4{
    margin-bottom: 15px;
    text-align: center;
}
.service>p{
    text-align: center;
    margin-top: 15px;
}

.section2{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.section2 .title_services{
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-family:var(--primaryfont);
    margin-bottom: 15px;
}
.section2 .map{
    width: 100%;
    height: 250px;
}
.about{
    width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-top: 40px;
     margin-bottom: 40px;

}
.etap{
    width: 300px;
}
 .level{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;

}


.etap h4{
    width: 90%;
    text-align: center;
}
.etap p{
    width: 90%;
    text-align: center;
}
/* Reviews         *                */
.all_comments{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  
  }
  .listen_constomer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: var(--primarycolor);
  }
  .title_listen_costemer{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  .title_listen_costemer h2{
    font-family: var(--primaryfont);
    color: var(--secondcolor);
    text-align: center;
    padding-top: 20px;
  }
    .listen_constomer p{
      width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    color: var(--secondcolor);
    text-align: center;
  
  
    }
  
    .comment{
      width: 400px;
      height: 150px;
      display: block;
     justify-content: center;
     background-color: var(--secondcolor);
     margin-bottom: 50px;
     margin-top: 30px;
     position: relative;
    }
    .comment>img {
      display: block;
      width: 100px;
      height: auto;
      position:absolute;
      top: -50px;
      left: 145px;
    }
    .comment p{
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      color: rgba(0, 0, 0,.4);
    }
    .comment h3{
      margin-top: 50px;
      width: 50%;
      /* margin-left: auto;
      margin-right: auto; */
      margin-left: 30px;
      font-family: var(--primaryfont);
    }
  footer{
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      box-shadow: unset 0 0 5px 5px black;
  }
footer div{
    width: 300px ;
    height: 100px;
}
footer .logo_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .logo_info h2 {
    font-family: var(--primaryfont);
}
footer .logo_info p {
    color: rgba(10, 10, 10,0.4);
    font-size: 12px;
}
footer ul{
    width:fit-content;
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 20px; */
    align-items: center;

}
.bottom_nav{
    display: flex;
    align-items: center;
    width: fit-content;
}
footer ul li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
}
footer ul li a{
    text-decoration: none;
    color: var(--primarycolor);
}
footer .social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .social_media img{
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width:800px) {
    .nav ul {
        display: none;
    }
    .nav ul li a{
        text-decoration: none;
        color:var(--secondcolor);
        margin: 30px;
    }
    .nav ul li {
        margin: 30px;
    }
    .nav .links{
        position: absolute;
        
        min-width: 300px;
        height: 300px;
        right: -100%;
        margin: 0;
        display: block;
        flex-direction: column;
        margin-top: 28px;
       
        background-color: #2d333a9e;
        transition: 0.5s;
    }
    .nav  .show{
        right: 0;
    }
    .nav .show ul{
        border: 2px solid green;
    }
    .header {
        background-size: cover;  
        background-position: center;
    }
    .logo_navbar{
        /* display: flex;
        flex-direction: row; */
        /* background-color: var(--primarycolor); */
        background-color: #2d333a9e;
    }
    #hamburger{
        display: flex;
        width: 33px;
        cursor: pointer;
        position: absolute;
        top: 15px ;
        right: 15px;
        color: var(--secondcolor);
     }
    .logo>h2{
        margin-left: 20px;
    }
    .nav{
        /* width: 40%; */
    }
    .services{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .service{
        width: 250px;
        margin: 15px auto 15px auto;
        border: 1px solid rgba(182, 185, 189, 0.3);
    }
    .service>img{
        width: 100%;
        object-fit: contain;
        height: fit-content;
        margin-bottom: 15px;
    }
    .service>h4{
        margin-bottom: 15px;
        text-align: center;
    }
    .service>p{
        text-align: center;
        margin-top: 15px;
    }
}
@media screen and (max-width:375px){

}
